<header>
    <div class="logo">Bun Bun Bake Shop</div>
    <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">Contact</a>
    </nav>
</header>

header {
    display: flex;
    justify-content: space-between
    align-items: center;
    padding: 10x;
    border-bottom: 1px solid #ccc;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.navigation a {
    margin-left: 20px;
    text-decoration: none;
}

.product-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .product {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    height: 285px;
  }
  
  .product-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .product {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    height: 285px;
  }
  

  