.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    width: 1200px;
    margin: 0 auto;

    body {
        font-family: Arial, sans-serif;
      }
      
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
  }
  
  .navigation ul {
    display: flex;
    list-style-type: none;
  }
  
  .navigation ul li {
    margin-left: 20px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  .shopping-cart {
    width: 1200px;
    margin: 20px auto;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .cart-item img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  .item-info p {
    margin: 5px 0;
  }
  