.navigation a {
  text-decoration: none; 
  color: black; 
  font-weight: bold; 
  margin-right: 20px; 
}

.navigation a:hover {
  color: purple; 
}

.product-details {
    display: flex;
    gap: 20px;
  }
  .product-image {
    width: 600px;
    height: 600px;
  }
  .details {
    max-width: 400px;
  }
  