body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url('../final_project/images/underwater_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#clock-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 0;
}

.foreground-image {
    position: absolute;
    z-index: -5;
}

.eyes-container {
    position: absolute;
    z-index : 1;
}

.chat-container {
    width: 30%;
    max-width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.chat-messages {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    background: #f9f9f9;
}

.chat-messages p {
    margin: 0.5em 0;
}

.user {
    text-align: right;
    color: #333;
}

.bot {
    text-align: left;
    color: #0078D7;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    background: #fff;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 16px;
}

.chat-input button {
    padding: 10px 15px;
    background: #002c51;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.chat-input button:hover {
    background: #51a822;
}

.jellyfish-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    width: 100vw; 
    position: relative;
}

/* intro_bubble */ 

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #7bcdf5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-bubble {
    position: absolute;
    top: 20px;
    background-color: #69ffa5;
    color: #333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(206, 143, 143, 0.1);
    text-align: center;
    z-index: 100; /* Higher z-index to ensure it appears on top */
}

.welcome-bubble p {
    margin: 0 0 10px;
    font-size: 1.5rem; 

    line-height: 1.6; 
    color: #333;
}


#welcomeBubble button {
    background-color: #e3ffdc;
    color: rgb(1, 89, 7);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#welcomeBubble button:hover {
    background-color: #9c1760;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
}